    body {
        background-color: #4b4a4ba6;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    }

    header {
        text-align: center;
        font-size: large;
        margin: 50px;
        padding: 0;
        background-color: #df8c8c91;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
    }
    #profile {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #contact {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
   
